NODE_ENV=development
PORT=4000
CLIENT_URL=http://localhost:5173
WORKSTATION_URL=http://localhost:5174
VITE_API_URL=http://localhost:4000/api
VITE_SOCKET_URL=http://localhost:4000
MONGODB_URI=mongodb+srv://dietherabad_db_user:<@Fairytail04>@cluster0.0oxc3hg.mongodb.net/?appName=Cluster0
JWT_ACCESS_SECRET=change_me_access_secret
JWT_REFRESH_SECRET=change_me_refresh_secret
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
COOKIE_SECRET=change_me_cookie_secret
SUPER_ADMIN_EMAIL=admin@dict-dtc.local
SUPER_ADMIN_PASSWORD=ChangeMe123!
SERVER_OPERATOR_EMAIL=operator@dict-dtc.local
SERVER_OPERATOR_PASSWORD=ChangeMe123!
DEFAULT_PC_TOKEN_SECRET=change_me_pc_token_secret
DEFAULT_ASSIGNMENT_STRATEGY=sortOrder
RATE_LIMIT_WINDOW_MS=900000
RATE_LIMIT_MAX=100
